extends ../layout
block content
  div(style='margin-top:50px')
    form(action='/free_view/add' method='post')
      table( width='900' , style='')
        thead
          tr 
            h2 자유게시판
        tbody(bgcolor='white')
          tr(align='center')
            td(width='50') 제목 
            td(colspan='5')= rows[0].fTitle
          tr(align='center')
            td(width='50') 글쓴이 
            td= rows[0].fDid    
            td(width='50') 작성일
            td(width='100')= rows[0].fDate    
            td(width='50') 조회수
            td(width='50')= rows[0].fHit
          tr
            td(align='center') 내용
            td(height='150' colspan='5')
              if rows[0].file
                img(src='../public/uploads/free/images/'+rows[0].file)
                br
              = rows[0].fContent
              
            
          tr
            td(colspan='5')
              a(href='/free_view') 목록
            td(align='right')  
              a(href='/free_view/'+rows[0].fNum+'/edit') 수정
              |&nbsp;
              a(href='/free_view/'+rows[0].fNum+'/delete') 삭제
              input(type='hidden' name='fDid' value= rows[0].fDid )
              input(type='hidden' name='fId' value= rows[0].fId ) 
