extends layout
block content
  
  content 
    image(src='http://upload2.inven.co.kr/upload/2017/01/02/bbs/i14972816845.gif')
  //- div
  //-   iframe(name='mains', width='940px', height='470', scrolling='no', src='http://image.fmkorea.com/files/attach/new/20170104/3655109/511286807/551668221/1d83d9cde7a82a5763fffd8a313d8ed2.gif'
  //-   style='xBorder:0 ridge lime;', marginwidth='0', marginheight='0', frameborder='1') 

  

   

      
