doctype html

html
  head(charset='utf-8')
    title My Community
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/javascript/js.js')
  
  body
    div(style='border:2px solid white; float:right; width:100%;')
      div(style='float:left;')
      div(style='float:right;')
        form(action='/users/login' method='post')
          table
            tr
              td
                |구글
                |페이스북
                |네이버
                |카카오&nbsp
                a(href='/users/register') 회원가입
              td
                input(type='text', name='username', size='15', placeholder='ID')
              td
                input(type='password', name='password', size='15', placeholder='PW')
                td
                  |&nbsp
                  input(type='submit', value='로그인')
    header
      div(name='top')
        div(style='border:1px solid white; float:left; width:100%')
          h1 
            a(href='/') My Community !      
        div(style='border:1px solid white; float:left; width:100%')
          nav
            ul
              li
                a(href='/free_view') 자유게시판 
              li
                a(href='/free_view') 자유게시판?
              li
                a(href='/free_view') 자유게시판!
              li
                a(href='/free_view') 자유게시판?!
    block content
    
    footer
      div(name='bot',style='border:1px solid white; float:left; width:100%')
  
        | 나는 푸터
    
  
